<launch>
  <arg name="paused" default="false"/>
  <!-- Startup gazebo with thrivaldi model -->
  <include file="$(find thrivaldi_gazebo)/launch/thrivaldi_gazebo.launch"/>

  <!-- Startup a node running our simple_joint_subscriber -->
  <node name="simple_joint_subscriber" pkg="simple_joint_subscriber" type="joint_subscriber.py" args="" output="screen"/>

</launch>
