<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Arguments of the launch -->
  <arg name="sim" default="true"/>

  <!-- Load thrivaldi urdf -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find thrivaldi_support)/urdf/thrivaldi.xacro'" />

  <!-- Run robot_state_publisher
       The robot_state_publisher node is a node that takes the /joint_states and makes sure
       to publish the frames of the joints to tf. Without it, RVIZ and many other things
       may encounter problems. -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Load RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thrivaldi_support)/rviz/thrivaldi.rviz" />
  
  <!-- Robot interface streaming starts -->
  <group if="$(arg sim)">
    <include file="$(find thrivaldi_support)/launch/robot_interface_streaming_thrivaldi.launch">
      <arg name="sim_floor" value="true"/>
    </include>
  </group>
  <group unless="$(arg sim)">
    <include file="$(find thrivaldi_support)/launch/robot_interface_streaming_thrivaldi.launch">
      <arg name="rsi_floor" value="true"/>
    </include>
  </group>

  <!-- Spawn our rospy node -->
  <node name="floor_message_control" pkg="message_control_floorbot" type="message_control_floorbot.py" output="screen"/>
  
</launch>
